{% extends 'core/base.html' %}


 {% block content %}
 <div class="container mt-5">
 
<h1 class="text-warning mb-5 border-bottom"> SERVICES</h1>
<div class="row text-center text-white mb-5">
<div class="col-sm-4">
<i class="fas fa-code fa-4x mb-2 i-color"></i>
<h3>Web Development</h3>
<p class="ss-color">
Backend Programing Language Python and Django Python Web Framework.
Fronted Language Html, Css, Bootstrap, basic Knowledge of Javascript
</p>
</div>

<div class="col-sm-4">
<i class="fas fa-palette fa-4x mb-2 i-color"></i>
<h3>Web Design</h3>
<pclass="ss-color">
Html, Csss, Bootstrap, Basic Knowledge of Javascript, Basic Knowledge of Wordpress.
</p>
</div>

<div class="col-sm-4">
<i class="fas fa-search-dollar fa-4x mb-2 i-color"></i>
<h3>SEO</h3>
<pclass="ss-color">
Lorem ipsum, dolor sit amet consectetur adipisicing elit.
</p>
</div>


</div>

 </div>


{% endblock content %}
